@import 'base';

body {
  margin: 0;
  color: $color-text;
  background: $color-background-soft;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

button {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: 1px solid $color-border;
  color: $color-text-btn;
  background-color: $color-backgroud-btn;
  border-radius: 0.25rem;
  cursor: pointer;
  
  
  &[disabled] {
    cursor: not-allowed;
  }
  
  &:hover {
    background-color: $color-backgroud-btn__hover;
  }
}

a {
  color: $color-link;
  text-decoration: inherit;
  
  &:hover {
    text-decoration: underline;
  }
}

